@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Light mode variables */
:root {
  --background-color: white;
  --text-color: #1a202c;
}

/* Dark mode variables */
.dark {
  --background-color: #1a202c;
  --text-color: #f7fafc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

